<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<!-- Show logs on console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSXXX"} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- cloudwatch-logback-appender 參考:https://github.com/Lightstreamer/cloudwatch-logback-appender -->
	<appender name="AWS_LOGS" class="com.egroup.amazon.cloudwatch.logback.appender.AwsLogsJsonAppender">
		<awsRegionName>ap-northeast-1</awsRegionName>
		<logGroupName></logGroupName>
	</appender>
	<!--只顯示大於該層級的logger  ERROR > WARN > INFO > DEBUG	
		1.ERROR : 錯誤例外
		2.WARN : 查無資料(資料遺失、伺服器錯誤、DB錯誤)        
		3.INFO : 此用者操作LOG訊息
	-->	
	<root level="DEBUG">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="AWS_LOGS" />
		<!-- <appender-ref ref="CONSOLE" /> -->
	</root>
	
</configuration>